<!DOCTYPE html>
<head>

</head>
<body>
  <h1>크롤링 완료</h1>
  <!-- <div class="image"><div class="thumbnail" style="background-image: url('https://image2.gnsister.com/images/deal/1560740434584_fe7aa34472e547f28d86cca9441ba864.jpg?originalImageWidth=1080&originalImageHeight=1080');"></div></div>
  <img src="https://image2.gnsister.com/images/deal/1560740434584_fe7aa34472e547f28d86cca9441ba864.jpg" alt="크롤링이미지"> -->
  <!--https://image2.gnsister.com/images/deal/1560740434584_fe7aa34472e547f28d86cca9441ba864_t.jpg-->
</body>